# Ignore all files inside these data folders
data/raw/*
data/processed/*
models/*
# Do not ignore the .gitkeep files inside them
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

# Ignore outputs
results/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache and environments
__pycache__/
*.pyc
venv/
.env
config/

