# Ignore generated data, checkpoints, and model artifacts.
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

models/classical_ml/*
models/deep_learning/*
!models/deep_learning/.gitkeep

results/logs/*
results/plots/*
!results/logs/.gitkeep
!results/plots/.gitkeep

# Ignore notebook checkpoints.
.ipynb_checkpoints/

# Ignore Python cache and local environments.
__pycache__/
*.pyc
venv/
.env
config/.env

visual.ipynb